<div class="jumbotron">
  <h3 class="display-2">Welcome</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>Fine art at its finest</p>
        </div>
        <div class="col-md-4">
          <%= image_tag("happy-face.png", height: '200', class: 'float-right') %>
        </div>
      </div>
    </div>

  </div>
